/* Declare CSS variables for brand's colour palette and fonts */
:root {
    --plum: #7F6070;
    --skyblue: #C8C7D7;
    --cream: #F6D8A2;
    --beige: #F9EEE8; 
    --font-body: 'Be Vietnam Pro', sans-serif;
    --font-heading: 'Frank Ruhl Libre', serif;
}

/* Reset default margin and padding of browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Standard 1.6 line-height in web design */
body {
  font-family: var(--font-body);
  background-color: var(--beige);
  color: var(--plum);
  line-height: 1.6;
}

h1, h2, h3 {
    font-family: var(--font-heading);
}

/* Navigation bar */
.navbar {
  display: flex;
  justify-content: space-between; /* Utilise justify-content: space-between to push nav-left, nav-center, nav-right as far as possible */
  align-items: center;
  padding: 10px 5%;
  background-color: var(--plum);
}

.nav-left, .nav-right {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 36px;
}

.nav-center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
}

.nav-item {
  color: var(--beige);
  text-decoration: none; /* Reset the blue default colour of link */
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer; /* Signal users there's more information in the toggle list */
  background: none; /* Reset the default style of tag <button> */
  border: none; /* Reset the default style of tag <button> */
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Container for the toggle list */
.shop-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Dropdown toggle list */
.nav-item-dropdown {
  position: relative; /* Set position to relative to position the dropdown menu absolutely within this container */
}

.dropdown-menu {
  display:none;
  position:absolute;
  background-color: var(--plum);
  padding: 10px;
  list-style: none;
  padding: 10px;
  z-index: 1000; /* Ensure the dropdown menu appears above other content */
}

.nav-icon-up {
  display: none;
}

.nav-icon-down {
  display: block;
}
/* When the dropdown menu is visible, show the up icon and hide the down icon */
.dropdown-toggle .nav-icon-down {
  display: none;
}

.dropdown-toggle .nav-icon-up {
  display: block;
}

/* Dropdown toggle animation */
.dropdown-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var (--beige);
  display: flex;
  align-items: center;
}

.nav-icon-down {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  transition: transform 0.3s ease; /* Smooth transition for the rotation */
  transform: rotate (0deg); /* Initial state of the arrow */
}

/* Active button is clicked, rotate the arrow 180 degrees */
.dropdown-toggle.active .nav-icon-down {
  transform: rotate(180deg);
}

/* Show the dropdown menu when the button is active */
.nav-item-dropdown {
  position: relative; 
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--plum);
  min-width: 150px;
  padding: 10px;
  z-index: 1000;
  border-radius: 4px;
}

/* Style of icons on the navigation bar */
.nav-icon {
  width: 20px;
  height: 20px;
  stroke: currentColor; /* Icons automatically take the beige colour of their parents */
}

.navbar img {
  align-items: center;  
  height: 100%;
  height: 30px;
  width: auto;
}

/* HERO SECTION */
.hero-section {
  padding: 0px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--beige);
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.hero-content {
  flex: 1;
  text-align: left;
  margin-left: 150px;
}

.hero-content h1 {
  font-size: 3.5rem;
}

.hero-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.large-btn {
  display: inline-block;
  background-color: var(--cream);
  color: var(--plum);
  font-family: var(--font-heading);
  border-radius: 60px;
  text-decoration: none;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  padding: 10px 40px 10px 40px;
  margin-top: 20px;
}

.hero p {
  font-size: 1.4rem;
}

.large-btn:hover {
  background-color: var(--plum);
  color: var(--cream);
  font-size: 1.9rem;
  transition: all 0.3s ease;
}

/* PRODUCTS ON HOMEPAGE */
.products-section {
  background-color: var(--plum);
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.products-section h2 {
  color: var(--beige);
  font-size: 2.5rem;
  margin: 30px;
}

.product-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
  padding-top: 0px;  
}

.product-grid img {
  width: 100%;
  height:auto;
  max-width: 300px;
  border-radius: 30px;
  border: none;
  margin-bottom: 20px;
}

.product-card {
  padding: 25px 20px;
  background-color: var(--beige);
  margin: 20px;
  display: grid;
  border-radius: 50px;
  border: none;
}

.medium-btn {
  display: inline-block;
  background-color: var(--skyblue);
  color: var(--plum);
  font-family: var(--font-heading);
  border-radius: 60px;
  text-decoration: none;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  padding: 8px 36px 8px 36px;
  margin-top: 16px;
}

.medium-btn:hover {
  background-color: var(--plum);
  color: var(--skyblue);
  font-size: 1.4rem;
  transition: all 0.3s ease;
}



/* ALL PRODUCTS PAGE */
.page-overview {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  display: block;
}
.page-overview h1{
  font-size: 2.4rem;
  text-align: left;
  margin-top: 35px;
}

.page-overview p{
  font-size: 1.1rem;
  margin-top: 12px;
  margin-bottom: 35px;
}

/* Container including search sidebar and result product grid */
.product-section {
  display: flex !important; 
  flex-direction: row;
  align-items: flex-start; /* Align all items from the start of the top */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 45px;
}

/* Left aside bar */
.product-sidebar {
  flex: 0 0 280px; /* Fixed width for the aside bar */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

/* right grid area */
.product-list-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.results-count-container {
  text-align: right;
  margin-right: 35px;
}

/* tab folder */
.products-nav-bar {
  display: flex;
  width: 100%;
  margin: 0px;
}

/* Tabs container */
.tabs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-btn {
  border: solid 1px var(--plum); 
  background: transparent;
  color: var(--plum);
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  transition: 0.3s ease;
  margin-bottom: 20px;
}

.tab-btn.active {
  background-color: var(--cream);
  color: var(--plum);
}

.tab-btn h3 {
  margin: 0;
  font-size: 1.2rem;
}

.product-row-grid {
  display: grid;
  /* 2 products each row for desktop */
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 30px;
}

.product-row-grid img {
  width: 100%;
  border-radius: 15px;
  border: solid 2px var(--plum);
}

/* Product list cards */
.product-list-card {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  transition: 0.3s ease-in-out;
  padding: 25px;
  background-color: color-mix(in srgb, var(--plum) 10%, transparent);
  margin-top: 20px;
}

.product-list-card:hover {
  background-color: color-mix(in srgb, var(--skyblue) 40%, transparent);
  scale: 1.005;
}

/* Image container */
.product-image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.product-tags {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.tag {
  color: var(--cream);
  background-color: var(--plum);
  padding: 8px 16px;
  border-radius: 15px 0 15px 0;
  display: inline-block;
}

/* Product names & stocks */
.product-list-card h3 {
  font-size: 1.5rem;
  text-decoration: underline 1px var(--plum);
  text-underline-offset: 6px;
  margin-bottom: 8px;
}

.stock-boxes {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 8px;
}

.purchase-area {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  border: solid 1px var(--plum);
  border-radius: 15px;
  background-color: transparent;
  overflow: hidden;
  padding: 0px;
  margin-bottom: 15px;
}

.weight-select, .fixed-weight-badge {
  flex: 1;
  font-size: inherit;
  font-family: inherit;
  color: var(--plum);
  padding: 6px 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-right: solid 1px var(--plum);
}

.price-display {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6px 24px;
}

.unit-price {
  font-size: 0.8rem;
}

/* change dropdown button */
select {
  appearance: none;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tZG93bi1pY29uIGx1Y2lkZS1jaGV2cm9uLWRvd24iPjxwYXRoIGQ9Im02IDkgNiA2IDYtNiIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.2rem;
  padding-right: 2.5rem;
  color: var(--plum);
}

/* actions button box */
.product-actions {
  display: flex;
  width: 100%;
  gap: 8px;
}

.product-actions button {
  flex: 1;
  padding: 6px 24px;
  border-radius: 15px;
  font-family: inherit;
  font-size: 1.1rem;
  box-sizing: border-box;
  border: none;
}

/* view product */
.product-actions button:first-child {
  background-color: var(--skyblue);
  color: var(--plum);
  border: solid 1px var(--plum);
}

.product-actions button:first-child:hover {
  background-color: var(--plum);
  color: var(--skyblue);
  border: solid 1px var(--plum);
}

.product-actions .view-btn {
  text-decoration: none;
  color: var(--plum);
  width: 100%;
}

.product-actions .view-btn:hover {
  text-decoration: none;
  color: var(--skyblue);
  width: 100%;
}

/*Quick add button */
.product-actions .quick-add {
  background-color: var(--cream);
  color: var(--plum);
  border: solid 1px var(--plum);
}

.product-actions .quick-add:hover {
  background-color: var(--plum);
  color: var(--cream);
  border: solid 1px var(--plum);
}

/* Group Filtering & sorting */
.product-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flext-start;
  text-align: left;


}
.filter-group, .filterandsort-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 15px 0;
}

.filter-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.filter-group input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: solid 1px var(--plum);
  border-radius: 6px;
  outline: none;
  cursor: ponter;
  background-color: transparent;
  display: grid;
  place-content: center;
}

/* Ticking checkbox effect */
.filter-group input[type="checkbox"]:checked {
  background-color: var(--cream);
}

/* style dropdown button */
.filterandsort-group select {
  padding: 6px 24px;
  border: solid 1px var(--plum);
  border-radius: 15px;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
}

/* PRODUCT DETAILS PAGE */
.breadcrumb {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumb a{
  text-decoration: none;
  text-decoration: underline 1px var(--plum);
  text-underline-offset: 6px;
  color: var(--plum);
}

.product-section {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-details .tag {
  display: inline-block;
  background-color: transparent;
  border: solid 1px var(--plum);
  border-radius: 15px;
  color: var(--plum);
  padding: 0 20px;
}
.product-details {
  text-align: left;

}
#product-image {
  max-width: 700px;
  border-radius: 25px;
  border: solid 3px var(--plum);
}

.weight-cards-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
}

.weight-cards-flex .weight-card, .weight-cards-flex > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 8px;
  border: solid 1px var(--plum);
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
  min-height: 60px;
}

.weight-cards-flex .weight-card.active, .weight-cards-flex > div[class*="active"] {
  background-color: var(--cream);
}

.product-details h1 {
  margin-bottom: 10px;
}
.sub-text {
  margin-bottom: 20px;
  margin-top: 20px;
}

.stock-status {
  margin-top: 20px;
  margin-bottom: 20px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px 0;
  border-top: solid 1px var(--plum);
  border-bottom: solid 1px var(--plum);
}

.quantity-stepper {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  background-color: transparent;
}

.quantity-stepper button {
  background: none;
  border: solid 1px var(--plum);
  border-radius: 10px;
  width: 30px;
  height: 30px;
  font-size: 1.1rem;
  color: var(--plum);
  cursor: pointer;
  padding: 4px;
  margin: 10px;
}

.quantity-stepper button:hover {
  background-color: var(--cream);
}

.price-final #display-price {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: var(--font-heading);
}

.action-buttons-row {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}

.action-buttons-row .add-to-cart-btn {
  background-color: var(--cream);
  color: var(--plum);
  border: solid 1px var(--plum);
  font-family: inherit;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  align-items: center;
  border-radius: 20px;
  padding: 8px 36px;
  width: 100%;
}

.action-buttons-row .add-to-cart-btn:hover {
  background-color: var(--plum);
  color: var(--cream);
}


.action-buttons-row .back-btn {
  background-color: var(--skyblue);
  color: var(--plum);
  border: solid 1px var(--plum);
  font-family: inherit;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  align-items: center;
  border-radius: 20px;
  padding: 8px 36px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.action-buttons-row .back-btn:hover {
  background-color: var(--plum);
  color: var(--skyblue);
}

.ingredients-area {
  margin-top: 20px;
}

.linear-navigation-row {
  display: flex !important; 
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  gap: 45px;
  justify-content: space-between;
}

.nav-arrow-btn {
  background-color: transparent;
  border: solid 1px var(--plum);
  color: var(--plum);
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
}

.nav-arrow-btn.prev {
  padding: 5px 12px 5px 36px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM3RjYwNzAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1hcnJvdy1sZWZ0LWljb24gbHVjaWRlLWFycm93LWxlZnQiPjxwYXRoIGQ9Im0xMiAxOS03LTcgNy03Ii8+PHBhdGggZD0iTTE5IDEySDUiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-position: left 12px center;
  background-size: 1.2rem;
}

.nav-arrow-btn.next {
  padding: 5px 36px 5px 12px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM3RjYwNzAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1hcnJvdy1yaWdodC1pY29uIGx1Y2lkZS1hcnJvdy1yaWdodCI+PHBhdGggZD0iTTUgMTJoMTQiLz48cGF0aCBkPSJtMTIgNSA3IDctNyA3Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 1.2rem;
}
/* SHOPPING CART PAGE */
.cart-item-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-summary {
  flex: 1;
  position: sticky;
}

.cart-item-card {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  border-bottom: solid 1px var(--plum);
}

.cart-item-img {
  width: 20%;
  height: 20%;
  border-radius: 15px;
}

.cart-item-details {

}

@media (max-width: 768px) {
  /* Turn navbar to vertical column */
  .navbar {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .nav-left, .nav-right {
    width: 100%;
    justify-content: space-around;
    padding:0;
  }
}